
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;  
}
body{
  margin: 0;
  padding: 0;
  color: #4f585e;
  
}

h3,a,h1,h2,p{
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
}
.navbar{
  background: #10847e;
  width: 100%;
  height: 123px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  user-select: none;
  padding: 15px 0;
  /* overflow: hidden; */
  transition: all .1s;
}

.navbar>div{
  max-width: 1366px;
  height: 123px;;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  /* max-width: 1024px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  position: relative;
}
.navbar>div>a{
  margin-right: 50px;
  max-width: 165px;
  max-height: 50px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navbar>div>a>img{
  max-width: 100%;
  max-height: 100%;
}
.navbar>div>div{
  flex: 1;
  position: relative;
}
.navbar>div>div>div:first-child{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child{
  display: flex;
  z-index: 1;
  flex: 1;
  /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child>div:first-child{
  /* border: 1px solid red; */
  max-width: 320px;

  flex-shrink: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div{

  user-select: none;
  display: flex;
  cursor: pointer;
  user-select: none;
  padding-left: 15px;
  height: 50px;
  align-items: center;
  background: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-tap-highlight-color: transparent;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child{
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child:after {
  content: "";
  position: absolute;
  right: 0;
  border: 6px solid transparent;
  border-top: 8px solid #8897a2;
  bottom: 5px;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:first-child{
  display: block;
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:last-child{
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 600;
  display: block;
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:last-child{
  margin-left: 15px;
  height: 20px;
  width: 1px;
  background: #dfe3e6;
  display: block;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child{
  /* border: 1px solid red; */
  
  user-select: none;
  margin-right: 50px;
  cursor: auto;
  position: relative;
  /* -webkit-tap-highlight-color: transparent; */
  width: 100%;
  display: block;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div{
  display: flex;
  background: #10847e;
  user-select: none;
  cursor: auto;
  
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div{
  border: 0 solid transparent;
  height: 50px;
  background: #fff;
  /* border: 1px solid #8897a2; */
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding-left: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:first-child{
  order: 5;
  height: 100%;
  min-width: 50px;
  background: #f4f7fb;
  user-select: none;
  color: #8897a2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child{
  order: 1;
  margin-right: 10px;
  order: 3;
  margin-left: 5px;
  width: 100%;
  cursor: text;
  line-height: 1.1875em;
  height: 45px;
  box-sizing: border-box;
  /* border: 1px solid #8897a2; */
  border-radius: 6px;
  overflow: hidden;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child>input{
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: lighter;
  color: #4f585e;
  border: 0px ;
  
 
}
.navbar>div>div>div:first-child>div:last-child{
  /* border: 1px solid red; */
  width: 200px;
}
.navbar>div>div>div:first-child>:first-child{
  display: flex;
  z-index: 1;
  flex: 1;
  /* border: 1px solid red; */
}

.navbar>div>div>div:first-child>:last-child{
  width: 200px;
}
.navbar>div>div>div:last-child{
  display: flex;
  align-items: center;
}
.navbar>div>div>div:last-child>div{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar>div>div>div:last-child>div>div:first-child{
  align-items: center;
  display: flex;
}
.navbar>div>div>div:last-child>div>div:first-child>a{
  display: block;
  color: #fff;
  margin-right: 25px;
  position: relative;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:first-child>a:hover{
  border-bottom: 2px solid white;
  /* border-radius: 5px; */
}
.navbar>div>div>div:last-child>div>div:last-child{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1){
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1)>img{
  display: block;
  margin-right: 5px;
  width: 24px;
}
.navbar>div>div>div:last-child>div>div:last-child>div:nth-child(2){
  position: relative;
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3){
  position: relative;
  margin-right: 0;
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>div{
  right: auto;
  left: 7px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 7px;
  background-color: #f76b6d;
  position: absolute;
  right: -10px;
  line-height: 1;
  top: -10px;
  display: block;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>img{
  display: block;
  margin-right: 5px;
  width: 24px;
}
.submenu{
  /* display: hidden; */
  visibility: hidden;
  position: absolute;
  z-index: 201;
  background-color: white;
  border-radius: 6px;
  width: 150px;
  height: auto;

}
.user:hover .submenu{
  visibility:visible;
}
.submenu>li{
  padding: 10px;
  color: #4f585e;
  font-size: 17px;
  font-weight:500;
  border-radius: 6px;
}

.submenu>li:last-child{
  color: #8897a2;
}
.submenu>li:hover{
  color: #10847e;
  background-color: #f4f7fb;
}
.container{
  /* padding-top: 200px; */
  position: relative;
  margin: 123px auto 0px;
  width: 100%;
  height: 284px;
  /* border: 4px solid blue; */
  overflow: hidden;
}
#sliding {
  height: 301.06px;
  width: 1024px;
  /* border: solid 1px red; */
  margin: 150px auto;
  /* margin-bottom:80px; */
}
.aaa {
  height: 290px;
  width: 1024px;
}
/* * {
  box-sizing: border-box;
  border: 1px solid red;
} */

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  margin-top: -20px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #10847e;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#b-box {
  height: 80px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 25px;
}
#box-1 {
  height: 80px;
  width: 240px;
  /* border: 1px solid red; */
  border: 1px solid #4f585e;
  /* padding: 0px 30px; */

  border-radius: 40px;
  display: flex;
}
#box-1:hover {
  border: 1px solid #10847e;
}
#box-1 > img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  padding: 25px;
  /* border: 1px solid red; */
}
.p1 {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  padding-top: 15px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #4f585e;
}
a:hover {
  color: #10847e;
}

#box-2 {
  height: 80px;
  width: 240px;
  border: 1px solid #4f585e;
  /* padding: 0px 30px; */
  margin-left: 21.33px;
  border-radius: 40px;
  display: flex;
}
#box-2:hover {
  border: 1px solid #10847e;
}
#box-2 > img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  padding: 25px;
}
.p2 {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  padding-top: 5px;
}
#box-3 {
  height: 80px;
  width: 240px;
  border: 1px solid #4f585e;
  /* padding: 0px 30px; */
  margin-left: 21.33px;
  border-radius: 40px;
  display: flex;
}
#box-3:hover {
  border: 1px solid #10847e;
}
#box-3 > img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  padding: 25px;
}
#box-4 {
  height: 80px;
  width: 240px;
  border: 1px solid #4f585e;
  /* padding: 0px 30px; */
  margin-left: 21.33px;
  border-radius: 40px;
  display: flex;
}
#box-4:hover {
  border: 1px solid #10847e;
}
#box-4 > img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  padding: 25px;
}
/* #p1 {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  padding-top: 15px;
} */
#b-box-1 {
  height: 135.5px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 10px;
  /* margin-top: 35px; */
}
#b-box-1 > img {
  height: 135.5px;
  width: 1024px;
}

#b-box-2 {
  height: 64.83px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 15px;
  /* padding: 10px; */
  border-radius: 5px;

  /* display: flex; */
  /* margin: 15px 0;
  padding: 10px; */
  border-radius: 5px;
  background: #8573e1;
  display: flex;
  margin-top: 25px;
}
#b-box-2-1 {
  height: 44.83px;
  width: 60px;
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-left: 10px;
}
#b-box-2-1 > img {
  height: 30.83px;
  width: 30px;
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-left: 10px;
}
#diva {
  height: 20px;
  width: 576.98;
  /* border: 1px solid red; */
  margin-top: 25px;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  font-family: Open Sans, sans-serif;
}

#b-box-3 {
  height: 221px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#b-box-3-1 {
  height: 20px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  color: #4f585e;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#kamal > a {
  color: #10847e;
}
#kamal > a:hover {
  color: #4f585e;
}
/* #aa {
  display: flex;
} */
/* #gg {
  margin-right: 10px;
} */
#b-box-3-2 {
  display: flex;
  height: 171px;
  width: 1024px;
  /* border: 1px solid red; */
  margin-top: 25px;
}
#b-box-3-2-1 {
  height: 171px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  /* padding: 20px; */
  border-radius: 6px;

  /* margin: auto; */
}
/* #aa {
  display: flex;
}
#gg {
  margin-right: 10px;
} */
#b-box-3-2-1:hover {
  border: 1px solid #10847e;
}
#b-box-3-2-1-1 {
  height: 124px;
  width: 222px;
  /* border: 1px solid red; */
  margin: 20px;
}

#b-box-3-2-1-1-1 {
  height: 55px;
  width: 80px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  border: 1px solid silver;
  margin-bottom: 10px;
  border-radius: 6px;
}
#b-box-3-2-1-1-1 > img {
  height: 24.33px;
  width: 70px;
  margin-top: 15px;
  margin-left: 5px;
}
#b-box-3-2-1-1-2 {
  height: 64px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
}
#b-box-3-2-1-1-2-1 {
  height: 24px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  color: #3d464d;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
#b-box-3-2-1-1-2-2 {
  height: 15.95px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  /* border: 1px solid silver; */
  /* margin: 24.05px 0px 0px; */
  margin: 20px 0px 0px;
  font-size: 12px;
  line-height: 1.33;
  color: #8879a2;
}

#b-box-3-2-2-1 {
  height: 124px;
  width: 222px;

  /* border: 1px solid red; */
  margin: 20px;
}

#b-box-3-2-2-1-1 {
  height: 55px;
  width: 80px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  border: 1px solid silver;
  margin-bottom: 10px;
  border-radius: 6px;
}
#b-box-3-2-2-1-1 > img {
  height: 50px;
  width: 60px;
  margin-left: 10px;
}
#b-box-3-2-2-1-2 {
  height: 64px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
}
#b-box-3-2-2-1-2-1 {
  height: 24px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  color: #3d464d;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
#b-box-3-2-2-1-2-2 {
  height: 15.95px;
  width: 188.64px;
  /* margin: 0px 0px 10px; */
  /* border: 1px solid red; */
  /* margin: 24.05px 0px 0px; */
  margin: 20px 0px 0px;
  font-size: 12px;
  line-height: 1.33;
  color: #8879a2;
}

#b-box-3-2-2 {
  height: 171px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  /* padding: 20px; */
  border-radius: 6px;
  margin-left: 10px;
  /* margin: auto; */
}
#b-box-3-2-2:hover {
  border: 1px solid #10847e;
}
#b-box-4 {
  height: 240.4px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}
#b-box-4-1 {
  height: 20px;
  width: 1024px;
  /* border: 1px solid red; */
  margin: auto;
  color: #4f585e;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#jamal > a {
  color: #10847e;
}
#jamal > a:hover {
  color: #4f585e;
}
#b-box-4-2 {
  display: flex;
  height: 200.4px;
  width: 1024px;
  /* border: 1px solid red; */
  margin-top: 25px;
}
#b-box-4-2-1 {
  height: 194px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  border-radius: 6px;
}
#b-box-4-2-1:hover {
  border: 1px solid #10847e;
}
#b-box-4-2-1 > img {
  height: 30px;
  width: 30px;
  /* margin: 0px 0px 10px; */
  padding: 20px;
}
.rama {
  color: #4f585e;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
  margin-left: 20px;
}
.jama {
  color: #4f585e;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  margin-left: 20px;
  margin-top: 10px;
}
.sama {
  color: rgb(145, 132, 132);
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  margin-left: 20px;
  margin-top: 10px;
}
.saja {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.kaja {
  color: #4f585e;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.raja {
  color: rgb(145, 132, 132);
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  margin-left: 10px;
}
#b-box-4-2-2 {
  height: 194px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  margin-left: 10px;
  border-radius: 6px;
}
#b-box-4-2-2:hover {
  border: 1px solid #10847e;
}
#b-box-4-2-2 > img {
  height: 30px;
  width: 30px;
  /* margin: 0px 0px 10px; */
  padding: 20px;
}
#b-box-4-2-3 {
  height: 194px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  margin-left: 10px;
  border-radius: 6px;
}
#b-box-4-2-3:hover {
  border: 1px solid #10847e;
}
#b-box-4-2-3 > img {
  height: 30px;
  width: 30px;
  /* margin: 0px 0px 10px; */
  padding: 20px;
}
#b-box-4-2-4 {
  height: 194px;
  width: 264px;
  /* border: 1px solid red; */
  border: 1px solid silver;
  margin-left: 10px;
  border-radius: 6px;
}
#b-box-4-2-4:hover {
  border: 1px solid #10847e;
}
#b-box-4-2-4 > img {
  height: 30px;
  width: 30px;
  /* margin: 0px 0px 10px; */
  padding: 20px;
}
#a {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 240px; */
}
#b {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: #4f585e;
  /* margin-left: 240px; */
}
#c {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 240px; */
}
#d {
  /* line-height: 1.5px; */
  height: 72px;
  width: 1024px;
  /* border: 1px solid red; */
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: #4f585e;
  /* margin-left: 240px; */
  word-spacing: 2px;
}
#e {
  height: 72px;
  width: 1024px;
  /* border: 1px solid red; */
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: #4f585e;
  /* margin-left: 240px; */
  word-spacing: 2px;
}
#f {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 240px; */
}
b {
  font-size: 16px;
  font-weight: 600;
  color: #10181d;
}
#g {
  height: 72px;
  width: 1024px;
  /* border: 1px solid red; */
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: #4f585e;
  /* margin-left: 240px; */
  word-spacing: 2px;
}
#h {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 240px; */
}
.j {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  /* font-weight: 600; */
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -20px;
  /* color: #10847e; */
}
/* li {
  color: #ad4665;
} */
#k {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
}
.m {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
}
#n {
  height: 50px;
  width: 1024px;
}

.accordion-item {
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #dfe3e6;
  padding: 10px;
  width: 1024px;
  margin: auto;
  margin-bottom: 20px;
}
.accordion-link {
  font-size: 14px;
  font-family: "Open Sans" sans-serif;
  color: #696b6d;
  text-decoration: none;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.accordion-link .ion-md-remove {
  display: none;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
  padding: 10px 15px;
}

.accordion-item:target .answer {
  max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-add {
  display: none;
}
.accordion-item:target .accordion-link .ion-md-remove {
  display: block;
}
b {
  font-weight: 500;
  color: #292e31;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
}
p {
  color: #8897a2;
  font-size: 14px;
}

/* .div-1 {
  height: 140px;
  width: 1024;
  border: 1px solid #dfe3e6;
  border-radius: 6px; */
/* padding: 10px 20px; */
/* margin: 15px 0px;
  font-size: 14px; */
/* } */
/* .div-2 {
  color: #292e31;
  font-weight: 500;
  padding: 10px 20px;
}
.div-3 {
  color: #8897a2;
  padding: 10px 20px;
} */

.div-4 {
  height: 230px;
  width: 1024px;
  margin-left: 0px;
  /* border: 1px solid red; */
  margin-top: 50px;
  padding-top: 40px;
  /* padding: 50px 15px; */

  /* margin: 0px 20.8px; */
}
.div-5 {
  height: 39px;
  width: 994px;
  /* border: 1px solid red; */
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Open Sans, sans-serif !important;

  color: #4f585e;
}
.div-6 {
  height: 95px;
  width: 450px;
  /* border: 1px solid red; */
  padding: 0px 25px;
  display: flex;
  margin-top: 40px;
}
.div-7 {
  height: 65px;
  width: 65px;
  /* border: 1px solid red; */
  /* display: flex; */
  margin-right: 15px;
  /* border-radius: 50px; */
}
.div-7 > img {
  height: 65px;
  width: 65px;
  border-radius: 50px;
}
.div-9 {
  height: 18px;
  width: 330px;
  /* border: 1px solid red; */
  margin: 0px 15px 0px 0px;
  font-weight: 700;
  line-height: 1.13;
}
.div-10 {
  height: 96px;
  width: 330px;
  /* border: 1px solid red; */
  margin-top: 15px;
}
.div-11 {
  display: flex;
}
.div-12 {
  height: 253px;
  width: 1024px;
  /* border: 1px solid red; */
  display: flex;
  margin-top: 60px;
}
.div-13 {
  height: 253px;
  width: 430px;
  /* border: 1px solid red; */
  padding: 0px 20px;
  margin-right: 45px;
}
/* .div-14 {
  height: 253px;
  width: 505px;
  border: 1px solid red;
} */
.div-15 {
  height: 136px;
  width: 237px;
  /* border: 1px solid red; */
}
.div-15 > img {
  height: 136px;
  width: 237px;
}
.div-16 {
  font-weight: 700;
  margin-top: 30px;
  font-family: Open Sans, sans-serif !important;
  color: #4f585e;
  font-size: 16px;
}
.div-17 {
  color: #8897a2;
  margin-top: 15px;
  font-family: Open Sans, sans-serif !important;
  font-size: 16px;
}
/* #aa {
  display: flex;
}
#gg {
  margin-right: 10px;
} */
#boundery {
  width: 1024px;
  /* height: 100%px; */
  /* justify-content: center; */
  /* border: 1px solid red; */
  margin: auto;
}
footer{
  height: auto;
  background-color: #f4f7fb;
}
#footer_con1{
  max-width: 1366px;
  margin: auto;
  padding: 40px 15px 0px;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  
}
#footer_con2{
  /* border: 1px solid blue; */
  max-width: 1366px;
  margin: auto;
  padding: 0px 15px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#paypart{
  /* border: 1px solid red; */
  width: 60%;
  margin-right: 20px;
}
#copyright{
  /* border: 1px solid red; */
  width: 40%;
  text-align: end;
}
#paypart>h4{
  margin-top: 0;
}
#paypart>div>span{
  max-height: 30px;
  width: 50px;
  height: 30px;
  margin-right: 15px
}
#paypart>div>span>img{
  width: 50px;
  height: 30px;
}
#copyright>p{
  /* border: 1px solid red; */
  margin-top: 50px;
}
#column_con{
  /* border: 1px solid red; */
  width: 80%;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
#column_con>div{
  /* border:1px solid blue; */
  width:30%;
  height: auto;
}
#column_con>div>div{
  /* border: 1px solid red; */
  margin-bottom: 30px;
}
#column_con>div>div>h4{
  font-weight: 700;
  letter-spacing: 0;
  margin: 0px 0px 15px;
}
#column_con>div>div>a{
  margin: 0px 0px 15px;
  font-weight: lighter;
  color: #4f585e;
  display: block;
  text-decoration: none;
}
#follow_con{
  /* border:1px solid blue; */
  width: 20%;
}
#follow_con>div{
  /* border: 1px solid red; */
  width:250px;
  height: auto;
}
#follow_con>div>h4{
  /* border:1px solid red; */

  font-weight: 700;
  letter-spacing: 0;
  margin: 0px 0px 15px 0px;
}
#follow_con>div>div{
  /* border:1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#follow_con>div>div>a{
  color: #10847e;
  width: 40px;
  height: 40px;
}
.icons{
  color: #10847e;
}
/* ____________________footer________________ */
