* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* margin: 0;
  padding: 0;   */
}
body{
  /* margin: 0;
  padding: 0; */
  color: #4f585e;
  
}

/* h3,a,h1,h2,p{
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
} */
.navbar{
  background: #10847e;
  width: 100%;
  height: 123px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  user-select: none;
  padding: 15px 0;
  /* overflow: hidden; */
  transition: all .1s;
}

.navbar>div{
  max-width: 1366px;
  height: 123px;;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  /* max-width: 1024px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  position: relative;
}
.navbar>div>a{
  margin-right: 50px;
  max-width: 165px;
  max-height: 50px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navbar>div>a>img{
  max-width: 100%;
  max-height: 100%;
}
.navbar>div>div{
  flex: 1;
  position: relative;
}
.navbar>div>div>div:first-child{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child{
  display: flex;
  z-index: 1;
  flex: 1;
  /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child>div:first-child{
  /* border: 1px solid red; */
  max-width: 320px;

  flex-shrink: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div{

  user-select: none;
  display: flex;
  cursor: pointer;
  user-select: none;
  padding-left: 15px;
  height: 50px;
  align-items: center;
  background: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-tap-highlight-color: transparent;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child{
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child:after {
  content: "";
  position: absolute;
  right: 0;
  border: 6px solid transparent;
  border-top: 8px solid #8897a2;
  bottom: 5px;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:first-child{
  display: block;
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:last-child{
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 600;
  display: block;
  max-width: calc(100% - 16px);
  color: #10847e;
  position: relative;
  padding: 5px 20px 5px 0;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:last-child{
  margin-left: 15px;
  height: 20px;
  width: 1px;
  background: #dfe3e6;
  display: block;
  user-select: none;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child{
  /* border: 1px solid red; */
  
  user-select: none;
  margin-right: 50px;
  cursor: auto;
  position: relative;
  /* -webkit-tap-highlight-color: transparent; */
  width: 100%;
  display: block;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div{
  display: flex;
  background: #10847e;
  user-select: none;
  cursor: auto;
  
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div{
  border: 0 solid transparent;
  height: 50px;
  background: #fff;
  /* border: 1px solid #8897a2; */
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding-left: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:first-child{
  order: 5;
  height: 100%;
  min-width: 50px;
  background: #f4f7fb;
  user-select: none;
  color: #8897a2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child{
  order: 1;
  margin-right: 10px;
  order: 3;
  margin-left: 5px;
  width: 100%;
  cursor: text;
  line-height: 1.1875em;
  height: 45px;
  box-sizing: border-box;
  /* border: 1px solid #8897a2; */
  border-radius: 6px;
  overflow: hidden;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child>input{
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: lighter;
  color: #4f585e;
  border: 0px ;
  
 
}
.navbar>div>div>div:first-child>div:last-child{
  /* border: 1px solid red; */
  width: 200px;
}
.navbar>div>div>div:first-child>:first-child{
  display: flex;
  z-index: 1;
  flex: 1;
  /* border: 1px solid red; */
}

.navbar>div>div>div:first-child>:last-child{
  width: 200px;
}
.navbar>div>div>div:last-child{
  display: flex;
  align-items: center;
}
.navbar>div>div>div:last-child>div{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar>div>div>div:last-child>div>div:first-child{
  align-items: center;
  display: flex;
}
.navbar>div>div>div:last-child>div>div:first-child>a{
  display: block;
  color: #fff;
  margin-right: 25px;
  position: relative;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:first-child>a:hover{
  border-bottom: 2px solid white;
  /* border-radius: 5px; */
}
.navbar>div>div>div:last-child>div>div:last-child{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1){
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1)>img{
  display: block;
  margin-right: 5px;
  width: 24px;
}
.navbar>div>div>div:last-child>div>div:last-child>div:nth-child(2){
  position: relative;
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3){
  position: relative;
  margin-right: 0;
  margin-right: 30px;
  color: #fff;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>div{
  right: auto;
  left: 7px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 7px;
  background-color: #f76b6d;
  position: absolute;
  right: -10px;
  line-height: 1;
  top: -10px;
  display: block;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>img{
  display: block;
  margin-right: 5px;
  width: 24px;
}
.submenu{
  /* display: hidden; */
  visibility: hidden;
  position: absolute;
  z-index: 201;
  background-color: white;
  border-radius: 6px;
  width: 150px;
  height: auto;

}
.user:hover .submenu{
  visibility:visible;
}
.submenu>li{
  padding: 10px;
  color: #4f585e;
  font-size: 17px;
  font-weight:500;
  border-radius: 6px;
}

.submenu>li:last-child{
  color: #8897a2;
}
.submenu>li:hover{
  color: #10847e;
  background-color: #f4f7fb;
}
#offercontainer {
    width: 70%;
    margin: 300px auto;
    margin-top: 20px;
    padding: 150px 0px;
  }

  #home>span {
    color: grey;
    margin-left: 15px;
    font-size: 12px;
  }

  #home>h1 {
    color: rgb(79, 88, 94);
  }

  #button {
    display: flex;
    margin-left: 5px;
  }

  #button>.a1 {
    border: 2px solid rgb(247, 247, 247);

    margin-right: 15px;
    border-radius: 25px;
    padding: 4px 15px;
    text-align: center;
  }

  #blocks {
    display: flex;

    flex-wrap: wrap;

    box-sizing: border-box;
  }

  .b11 {
    border: 1px solid rgb(247, 247, 247);
    display: flex;
    height: 150px;
    flex-direction: row;
    flex: 5;
  }

  .box>.b11>.off>h4 {
    border: 2px solid rgb(255, 255, 255);
    width: 90%;
    margin-left: 25px;
    font-size: 20px;
  }

  .box>.b11>.off>h5 {
    border: 1px solid rgb(247, 247, 247);
    width: 90%;
    margin-top: -25px;
    margin-left: 25px;
  }

  .b11>img {
    width: 15%;
    margin-top: 25px;
    height: 60px;

    flex: 1;
  }

  .box>.b11>.off>h6 {
    color: red;
    margin-left: -42px;
  }
  .tab button .active{
    background-color: #3bb896;
  }
  .tab button:hover {
background-color:#3bb896;

}

  

  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: rgb(79, 88, 94);
    width: 47%;
    margin: 2% 1.5%;

    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  }

  .code {
    width: 95%;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 10px;
    border-top: 1px dotted black;
  }

  .code>p>a {
    margin-left: 17%;
    color: teal;
  }

  .code>p {
    color: rgb(79, 88, 94);
    font-weight: 500;
    width: 100%;
  }

  /* <-----------------------------------------> */
  .accordion-item {
    border-radius: 8px;
    border-color: rgb(195, 199, 201)
      /*new add clo*/
      margin-bottom: 10px;
    border: 1px solid rgb(34, 33, 33);
    padding: 10px;
  }

  .accordion-link {
    font-size: 14px;
    font-family: "Open Sans"sans-serif;
    color: #696b6d;
    text-decoration: none;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .accordion-link .ion-md-remove {
    display: none;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
    padding: 10px 15px;

  }

  .ion-md-add:before {
    content: "+";
  }

  .ion-md-remove:before {
    content: "-";
  }


  .accordion-item:target .answer {
    max-height: 20rem;
  }

  .accordion-item:target .accordion-link .ion-md-add {
    display: none;
  }

  .accordion-item:target .accordion-link .ion-md-remove {
    display: block;
  }

  li {
    color: #696b6d;
  }
  footer{
    height: auto;
    background-color: #f4f7fb;
}
#footer_con1{
    max-width: 1366px;
    margin: auto;
    padding: 40px 15px 0px;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
#footer_con2{
    /* border: 1px solid blue; */
    max-width: 1366px;
    margin: auto;
    padding: 0px 15px 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#paypart{
    /* border: 1px solid red; */
    width: 60%;
    margin-right: 20px;
}
#copyright{
    /* border: 1px solid red; */
    width: 40%;
    text-align: end;
}
#paypart>h4{
    margin-top: 0;
}
#paypart>div>span{
    max-height: 30px;
    width: 50px;
    height: 30px;
    margin-right: 15px
}
#paypart>div>span>img{
    width: 50px;
    height: 30px;
}
#copyright>p{
    /* border: 1px solid red; */
    margin-top: 50px;
}
#column_con{
    /* border: 1px solid red; */
    width: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
#column_con>div{
    /* border:1px solid blue; */
    width:30%;
    height: auto;
}
#column_con>div>div{
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
#column_con>div>div>h4{
    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px;
}
#column_con>div>div>a{
    margin: 0px 0px 15px;
    font-weight: lighter;
    color: #4f585e;
    display: block;
    text-decoration: none;
}
#follow_con{
    /* border:1px solid blue; */
    width: 20%;
}
#follow_con>div{
    /* border: 1px solid red; */
    width:250px;
    height: auto;
}
#follow_con>div>h4{
    /* border:1px solid red; */

    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px 0px;
}
#follow_con>div>div{
    /* border:1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#follow_con>div>div>a{
    color: #10847e;
    width: 40px;
    height: 40px;
}
.icons{
    color: #10847e;
}