* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;  
}
body{
    margin: 0;
    padding: 0;
    color: #4f585e;
    
}

h3,a,h1,h2,p{
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
}
.navbar{
    background: #10847e;
    width: 100%;
    height: 123px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    user-select: none;
    padding: 15px 0;
    /* overflow: hidden; */
    transition: all .1s;
}

.navbar>div{
    max-width: 1366px;
    height: 123px;;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    /* max-width: 1024px; */
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
}
.navbar>div>a{
    margin-right: 50px;
    max-width: 165px;
    max-height: 50px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.navbar>div>a>img{
    max-width: 100%;
    max-height: 100%;
}
.navbar>div>div{
    flex: 1;
    position: relative;
}
.navbar>div>div>div:first-child{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child{
    display: flex;
    z-index: 1;
    flex: 1;
    /* border: 1px solid red; */
}
.navbar>div>div>div:first-child>div:first-child>div:first-child{
    /* border: 1px solid red; */
    max-width: 320px;

    flex-shrink: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div{

    user-select: none;
    display: flex;
    cursor: pointer;
    user-select: none;
    padding-left: 15px;
    height: 50px;
    align-items: center;
    background: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-tap-highlight-color: transparent;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child{
    max-width: calc(100% - 16px);
    color: #10847e;
    position: relative;
    padding: 5px 20px 5px 0;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    border: 6px solid transparent;
    border-top: 8px solid #8897a2;
    bottom: 5px;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:first-child{
    display: block;
    max-width: calc(100% - 16px);
    color: #10847e;
    position: relative;
    padding: 5px 20px 5px 0;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:first-child>div:last-child{
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 600;
    display: block;
    max-width: calc(100% - 16px);
    color: #10847e;
    position: relative;
    padding: 5px 20px 5px 0;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:first-child>div>div:last-child{
    margin-left: 15px;
    height: 20px;
    width: 1px;
    background: #dfe3e6;
    display: block;
    user-select: none;
    cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child{
    /* border: 1px solid red; */
    
    user-select: none;
    margin-right: 50px;
    cursor: auto;
    position: relative;
    /* -webkit-tap-highlight-color: transparent; */
    width: 100%;
    display: block;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div{
    display: flex;
    background: #10847e;
    user-select: none;
    cursor: auto;
    
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div{
    border: 0 solid transparent;
    height: 50px;
    background: #fff;
    /* border: 1px solid #8897a2; */
    position: relative;
    width: 100%;
    border-radius: 6px;
    padding-left: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:first-child{
    order: 5;
    height: 100%;
    min-width: 50px;
    background: #f4f7fb;
    user-select: none;
    color: #8897a2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child{
    order: 1;
    margin-right: 10px;
    order: 3;
    margin-left: 5px;
    width: 100%;
    cursor: text;
    line-height: 1.1875em;
    height: 45px;
    box-sizing: border-box;
    /* border: 1px solid #8897a2; */
    border-radius: 6px;
    overflow: hidden;
}
.navbar>div>div>div:first-child>div:first-child>div:last-child>div>div>div:last-child>input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: lighter;
    color: #4f585e;
    border: 0px ;
    
   
}
.navbar>div>div>div:first-child>div:last-child{
    /* border: 1px solid red; */
    width: 200px;
}
.navbar>div>div>div:first-child>:first-child{
    display: flex;
    z-index: 1;
    flex: 1;
    /* border: 1px solid red; */
}

.navbar>div>div>div:first-child>:last-child{
    width: 200px;
}
.navbar>div>div>div:last-child{
    display: flex;
    align-items: center;
}
.navbar>div>div>div:last-child>div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar>div>div>div:last-child>div>div:first-child{
    align-items: center;
    display: flex;
}
.navbar>div>div>div:last-child>div>div:first-child>a{
    display: block;
    color: #fff;
    margin-right: 25px;
    position: relative;
    line-height: 21px;
    text-decoration: none;
    cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:first-child>a:hover{
    border-bottom: 2px solid white;
    /* border-radius: 5px; */
}
.navbar>div>div>div:last-child>div>div:last-child{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1){
    margin-right: 30px;
    color: #fff;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(1)>img{
    display: block;
    margin-right: 5px;
    width: 24px;
}
.navbar>div>div>div:last-child>div>div:last-child>div:nth-child(2){
    position: relative;
    margin-right: 30px;
    color: #fff;
    line-height: 21px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3){
    position: relative;
    margin-right: 0;
    margin-right: 30px;
    color: #fff;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>div{
    right: auto;
    left: 7px;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 7px;
    background-color: #f76b6d;
    position: absolute;
    right: -10px;
    line-height: 1;
    top: -10px;
    display: block;
}
.navbar>div>div>div:last-child>div>div:last-child>a:nth-child(3)>img{
    display: block;
    margin-right: 5px;
    width: 24px;
}
.submenu{
    /* display: hidden; */
    visibility: hidden;
    position: absolute;
    z-index: 201;
    background-color: white;
    border-radius: 6px;
    width: 150px;
    height: auto;

}
.user:hover .submenu{
    visibility:visible;
}
.submenu>li{
    padding: 10px;
    color: #4f585e;
    font-size: 17px;
    font-weight:500;
    border-radius: 6px;
}

.submenu>li:last-child{
    color: #8897a2;
}
.submenu>li:hover{
    color: #10847e;
    background-color: #f4f7fb;
}
.container{
    /* padding-top: 200px; */
    position: relative;
    margin: 123px auto 0px;
    width: 100%;
    height: 284px;
    /* border: 4px solid blue; */
    overflow: hidden;
}
.slide{
    display: flex;
    width: 100%;
    /* height: 100%; */
}
.slide>img{
    width: 100%;
    /* height: 100%; */
}
#pre{
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 1%;
    font-size: 50px;
    color: white;
    cursor: pointer;
} 
#nex{
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 97%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.segments{
    max-width: 1366px;
    padding: 0px 15px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
}
.segments>a{
    flex: 1;
    border-radius: 6px;
    border: 1px solid #dfe3e6;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    background: #fff;
    text-decoration: none;
}
.segments>a>div:first-child{
    background: rgba(53,194,169,.24);
    height: 115px;
    border-radius: 6px 6px 0 0;
    position: absolute;
    width: 100%;
}
.segments>a>div:nth-child(2){
    z-index: 2;
    width: 100%;
}
.segments>a>div:nth-child(2)>div:first-child{
    display: flex;
    align-items: flex-end;
    height: 115px;
    padding: 30px 25px;
}
.segments>a>div:nth-child(2)>div:first-child>div:first-child{
    font-weight: 700;
    line-height: 1.5;
    font-size: 20px;
    color: #4f585e;
    padding-right: 15px;
}
.segments>a>div:nth-child(2)>div:first-child>div:last-child{
    background-image: url(https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: padding-box;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 6px;
    font-weight: 700;
    line-height: 1.5;
}
.segments>a>div:nth-child(2)>div:first-child>div:last-child>span{
    text-decoration: line-through;
}
.segments>a>div:nth-child(2)>div:last-child{
    padding: 15px 25px;
}
.segments>a>div:nth-child(2)>div:last-child>button{
    transition: opacity .2s linear;
    background-color: #3bb896;
    min-width: 135px;
    border-radius: 6px;
    padding: 0 25px;
    background: #10847e;
    color: #fff;
    width: auto;
    height: 45px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: 700;
    cursor: pointer;

    user-select: none;
    flex-shrink: 0;
}
#btn1{
    background-color: #4FBFA1;
}
#btn2{
    background-color: #FC8D30;
}
#btn3{
    background-color: #1AC0E4;
}
.segments>a>div:last-child{
    width: 186px;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.segments>a>div:last-child>img{
        max-height: 100%;
        max-width: 100%;
}
.plusservice{
    /* border: 1px solid red; */
    padding: 60px 15px;
    margin: 0px auto 0px;
    max-width: 1366px;
    user-select: none;
}
.plusservice>div{
    width: 100%;
    background-color: #a291fa;
    /* border: 1px solid white; */
    background-image: url(https://assets.pharmeasy.in/web-assets/dist/f5c40209.svg);
    display: flex;
    min-height: 94px;
    border-radius: 6px;
}
.plusservice>div>div:first-child{
    /* border: 1px solid white; */
    min-width: 150px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 25px 30px 0;
}
.plusservice>div>div:first-child>img{
    max-width: 210px;
    max-height: 100%;
}
.plusservice>div>div:nth-child(2){
    flex: 3;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: auto;
    padding-top: 5px;
    padding-right: 25px;
}
.plusservice>div>div:last-child{
    display: flex;
    flex: 1;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}
.plusservice>div>div:last-child>img{
    height: 136px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.labban{
    max-width: 1366px;
    padding: 0 15px;
    margin: auto;
}
.labban>img{
    width: 100%;
    height: 100%;
}
.storeslide{
    max-width: 1366px;
    height: 400px;
    padding: 0px 15px;
    margin: 40px auto 0px;
    overflow: hidden;
    position: relative;
}
.storeslideheading{
    /* font-size: 20px; */
    font-weight: 700;
    line-height: 1.5;
    color: #4f585e;
    margin-bottom: 25px;
}
.storebtn{
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: #4f585e;
    cursor: pointer;
    left: .5%;
    z-index: 1;

}
.storebtn:nth-of-type(2){
    left: 98%;
    text-align: right;
}
.sliders{
    max-width: 1366px;
    padding: 0px 15px;
    height: 300px;
    /* background: blue; */
    margin: 10px auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
.sliders::-webkit-scrollbar{
    visibility: hidden;
}
.storediv{
    min-width: 13%;
    height: 200px;
    position: relative;
    left: 0;
    text-align: center;
    /* padding-top: 60px; */
    font-size: 100px;
    font-weight: bold;
    margin: 10px 20px ;
    color: white;
    /* background: purple; */
    transition: 0.5s;
}
.storediv>img{
    width: 100%;
    /* height: 100%; */
}
.achievep{
    /* border: 1px solid blue; */
    margin: 0px auto 60px;
    padding: 0px 15px;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
}
.achievec{
    width: 24%;
}
.achievec>div:nth-child(2){
    font-size: 42px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
.achievec>div:nth-child(3){
    font-size: 18px;
    font-weight: 600;
}


.appbanner{
    background-color: #f2f5f5 ;
    /* border: 1px solid red; */
}
.appbanner>div{
    /* border: 1px solid red; */
    margin: auto;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.appbanner>div>div:first-child{
    padding-left: 10px;
    width: 60%;
    height: auto;
    /* border: 1px solid blue; */
}
.appbanner>div>div:first-child>div{
    font-size: 26px;
    margin: 40px 0px;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 1.8;
    /* border: 1px solid blue; */
}
.appbanner>div>div:first-child>h2{
    /* border: 1px solid blue; */
    margin: 60px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.8;
    padding: 0;
}
.appbanner>div>div:first-child>div:last-child{
    display: flex;
    width: 100%;
    margin: 0px;
    margin-top:10px;
}
.appbanner>div>div:first-child>div:last-child>a{
    margin-right: 20px;
}
.appbanner>div>div:first-child>div:last-child>a>img{
    width: 163px;
    height: 50px;
}
.appbanner>div>div:last-child{
    padding-right: 50px;
    width: 40%;
    height: auto;
    /* border: 1px solid blue; */
}
.appbanner>div>div:last-child>img{
    width: 100%;
    height: 100%;
}

div{

}
.referal{
    max-width: 1366px;
    /* border: 1px solid red; */
    margin: 60px auto;
    padding: 0px 15px;
    
}

.rlinks{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* -webkit-box-align: center; */
    align-items: center;
}
.rlinks>h3{
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}
.rlinks>span{
    
    font-size: 12px;
    line-height: 1.5;
}
.rlinks>span>a{
    text-decoration: none;
}
.rlinks>span>a:hover{
    color: #10847e;
}
.rlinks>span:after {
    content: "|";
    color: #4f585e;
    margin: 0 5px;
}
.rlinks>span:last-child:after {
    content: "";
    color: #4f585e;
    margin: 0 5px;
}
.rpt{
    font-weight: 700;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.rpst{
    font-size: 12px;
    margin: 10px 0;
    font-weight: 700;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.rpp{
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.rpp>a{
    color: #10847e;
}
.rpp>a:hover{
    color: #4f585e;
    text-decoration: none;
}

footer{
    height: auto;
    background-color: #f4f7fb;
}
#footer_con1{
    max-width: 1366px;
    margin: auto;
    padding: 40px 15px 0px;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
#footer_con2{
    /* border: 1px solid blue; */
    max-width: 1366px;
    margin: auto;
    padding: 0px 15px 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#paypart{
    /* border: 1px solid red; */
    width: 60%;
    margin-right: 20px;
}
#copyright{
    /* border: 1px solid red; */
    width: 40%;
    text-align: end;
}
#paypart>h4{
    margin-top: 0;
}
#paypart>div>span{
    max-height: 30px;
    width: 50px;
    height: 30px;
    margin-right: 15px
}
#paypart>div>span>img{
    width: 50px;
    height: 30px;
}
#copyright>p{
    /* border: 1px solid red; */
    margin-top: 50px;
}
#column_con{
    /* border: 1px solid red; */
    width: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
#column_con>div{
    /* border:1px solid blue; */
    width:30%;
    height: auto;
}
#column_con>div>div{
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
#column_con>div>div>h4{
    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px;
}
#column_con>div>div>a{
    margin: 0px 0px 15px;
    font-weight: lighter;
    color: #4f585e;
    display: block;
    text-decoration: none;
}
#follow_con{
    /* border:1px solid blue; */
    width: 20%;
}
#follow_con>div{
    /* border: 1px solid red; */
    width:250px;
    height: auto;
}
#follow_con>div>h4{
    /* border:1px solid red; */

    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px 0px;
}
#follow_con>div>div{
    /* border:1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#follow_con>div>div>a{
    color: #10847e;
    width: 40px;
    height: 40px;
}
.icons{
    color: #10847e;
}
